In [1]:
# The aim of this project to manually extract each WSL team squad to create their respective dataframe, combine each individual resultant dataframe to get a larger WSL squad statistics dataframe for final analysis
# This is an example of Extract, Transform, and Load (ETL) data process

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from io import StringIO
import csv

In [3]:
playerStats_url = 'https://fbref.com/en/squads/a6a4e67d/Chelsea-Women-Stats'

In [4]:
data = requests.get(playerStats_url)

In [5]:
soup = BeautifulSoup(data.text)

In [6]:
playerStandings_table = soup.select("table.stats_table")[0]

In [7]:
players_links = playerStandings_table.find_all('a')

In [8]:
players_links = [l.get("href") for l in players_links]

In [9]:
players_links = [l for l in players_links if '/players/' in l]

In [10]:
players_urls = [f"https://fbref.com{l}" for l in players_links]

In [11]:
players_urls

['https://fbref.com/en/players/cf19f181/Niamh-Charles',
 'https://fbref.com/en/players/cf19f181/matchlogs/2023-2024/summary/Niamh-Charles-Match-Logs',
 'https://fbref.com/en/players/bb5e99fc/Jess-Carter',
 'https://fbref.com/en/players/bb5e99fc/matchlogs/2023-2024/summary/Jess-Carter-Match-Logs',
 'https://fbref.com/en/players/76a887a9/Erin-Cuthbert',
 'https://fbref.com/en/players/76a887a9/matchlogs/2023-2024/summary/Erin-Cuthbert-Match-Logs',
 'https://fbref.com/en/players/d6c2ee71/Lauren-James',
 'https://fbref.com/en/players/d6c2ee71/matchlogs/2023-2024/summary/Lauren-James-Match-Logs',
 'https://fbref.com/en/players/a9d473d9/Johanna-Rytting-Kaneryd',
 'https://fbref.com/en/players/a9d473d9/matchlogs/2023-2024/summary/Johanna-Rytting-Kaneryd-Match-Logs',
 'https://fbref.com/en/players/0050cd30/Sjoeke-Nusken',
 'https://fbref.com/en/players/0050cd30/matchlogs/2023-2024/summary/Sjoeke-Nusken-Match-Logs',
 'https://fbref.com/en/players/3d728957/Guro-Reiten',
 'https://fbref.com/en/players/3d728957/matchlogs/2023-2024/summary/Guro-Reiten-Match-Logs',
 'https://fbref.com/en/players/c219a715/Ashley-Lawrence',
 'https://fbref.com/en/players/c219a715/matchlogs/2023-2024/summary/Ashley-Lawrence-Match-Logs',
 'https://fbref.com/en/players/87f3ffa4/Hannah-Hampton',
 'https://fbref.com/en/players/87f3ffa4/matchlogs/2023-2024/summary/Hannah-Hampton-Match-Logs',
 'https://fbref.com/en/players/70bcb789/Eve-Perisset',
 'https://fbref.com/en/players/70bcb789/matchlogs/2023-2024/summary/Eve-Perisset-Match-Logs',
 'https://fbref.com/en/players/22fccf20/Millie-Bright',
 'https://fbref.com/en/players/22fccf20/matchlogs/2023-2024/summary/Millie-Bright-Match-Logs',
 'https://fbref.com/en/players/bd91e11f/Fran-Kirby',
 'https://fbref.com/en/players/bd91e11f/matchlogs/2023-2024/summary/Fran-Kirby-Match-Logs',
 'https://fbref.com/en/players/64623394/Sophie-Ingle',
 'https://fbref.com/en/players/64623394/matchlogs/2023-2024/summary/Sophie-Ingle-Match-Logs',
 'https://fbref.com/en/players/4fc6f0fa/Melanie-Leupolz',
 'https://fbref.com/en/players/4fc6f0fa/matchlogs/2023-2024/summary/Melanie-Leupolz-Match-Logs',
 'https://fbref.com/en/players/ee84c793/Nathalie-Bjorn',
 'https://fbref.com/en/players/ee84c793/matchlogs/2023-2024/summary/Nathalie-Bjorn-Match-Logs',
 'https://fbref.com/en/players/4c48a42a/Zecira-Musovic',
 'https://fbref.com/en/players/4c48a42a/matchlogs/2023-2024/summary/Zecira-Musovic-Match-Logs',
 'https://fbref.com/en/players/6a435e8d/Sam-Kerr',
 'https://fbref.com/en/players/6a435e8d/matchlogs/2023-2024/summary/Sam-Kerr-Match-Logs',
 'https://fbref.com/en/players/58b6ad69/Agnes-Beever-Jones',
 'https://fbref.com/en/players/58b6ad69/matchlogs/2023-2024/summary/Agnes-Beever-Jones-Match-Logs',
 'https://fbref.com/en/players/be9f3298/Ann-Katrin-Berger',
 'https://fbref.com/en/players/be9f3298/matchlogs/2023-2024/summary/Ann-Katrin-Berger-Match-Logs',
 'https://fbref.com/en/players/8da78a89/Kadeisha-Buchanan',
 'https://fbref.com/en/players/8da78a89/matchlogs/2023-2024/summary/Kadeisha-Buchanan-Match-Logs',
 'https://fbref.com/en/players/3bf287fc/Maren-Mjelde',
 'https://fbref.com/en/players/3bf287fc/matchlogs/2023-2024/summary/Maren-Mjelde-Match-Logs',
 'https://fbref.com/en/players/e47d2297/Jessie-Fleming',
 'https://fbref.com/en/players/e47d2297/matchlogs/2023-2024/summary/Jessie-Fleming-Match-Logs',
 'https://fbref.com/en/players/61478cfd/Mayra-Ramirez',
 'https://fbref.com/en/players/61478cfd/matchlogs/2023-2024/summary/Mayra-Ramirez-Match-Logs',
 'https://fbref.com/en/players/22c5e558/Catarina-Macario',
 'https://fbref.com/en/players/22c5e558/matchlogs/2023-2024/summary/Catarina-Macario-Match-Logs',
 'https://fbref.com/en/players/c4ebeea2/Mia-Fishel',
 'https://fbref.com/en/players/c4ebeea2/matchlogs/2023-2024/summary/Mia-Fishel-Match-Logs',
 'https://fbref.com/en/players/832cd881/Jelena-Cankovic',
 'https://fbref.com/en/players/832cd881/matchlogs/2023-2024/summary/Jelena-Cankovic-Match-Logs',
 'https://fbref.com/en/players/ecbfbc1a/Maika-Hamano',
 'https://fbref.com/en/players/ecbfbc1a/matchlogs/2023-2024/summary/Maika-Hamano-Match-Logs',
 'https://fbref.com/en/players/5202e464/Aniek-Nouwen',
 'https://fbref.com/en/players/5202e464/matchlogs/2023-2024/summary/Aniek-Nouwen-Match-Logs',
 'https://fbref.com/en/players/fae2b11b/Cerys-Brown',
 'https://fbref.com/en/players/173b0cdc/Katie-Cox']

In [12]:
player_url_NC = players_urls[1]

In [13]:
data = requests.get(player_url_NC)

In [14]:
html_data = StringIO(data.text)
player_stats = pd.read_html(html_data, match="Summary")

In [15]:
Niamh_Charles_Stats = player_stats[0]

In [16]:
Niamh_Charles_Stats.columns = Niamh_Charles_Stats.columns.droplevel()

In [17]:
Niamh_Charles_Stats.head()

,Date,Day,Comp,Round,Venue,Result,Squad,Opponent,Start,Pos,...,GCA,Cmp,Att,Cmp%,PrgP,Carries,PrgC,Att,Succ,Match Report
0,2023-07-01,Sat,Friendlies (W),Friendlies (W),Home,D 0–0,eng England,pt Portugal,N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Match Report
1,2023-07-22,Sat,World Cup,Group stage,Neutral,W 1–0,eng England,ht Haiti,N,"On matchday squad, but did not play",...,"On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play",Match Report
2,2023-07-28,Fri,World Cup,Group stage,Neutral,W 1–0,eng England,dk Denmark,N,"On matchday squad, but did not play",...,"On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play",Match Report
3,2023-08-01,Tue,World Cup,Group stage,Neutral,W 6–1,eng England,cn China PR,N,WB,...,0,18,19,94.7,3,14,0,1,0,Match Report
4,2023-08-07,Mon,World Cup,Round of 16,Neutral,D 0 (4)–0 (2),eng England,ng Nigeria,N,"On matchday squad, but did not play",...,"On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play","On matchday squad, but did not play",Match Report

In [18]:
NC_WSL_Stats = Niamh_Charles_Stats[Niamh_Charles_Stats['Comp']=='WSL']

In [19]:
NC_WSL_Stats.head()

,Date,Day,Comp,Round,Venue,Result,Squad,Opponent,Start,Pos,...,GCA,Cmp,Att,Cmp%,PrgP,Carries,PrgC,Att,Succ,Match Report
8,2023-10-01,Sun,WSL,Matchweek 1,Home,W 2–1,Chelsea,Tottenham,Y,LB,...,3,48,59,81.4,4,37,7,7,4,Match Report
9,2023-10-08,Sun,WSL,Matchweek 2,Away,D 1–1,Chelsea,Manchester City,Y,LB,...,0,72,91,79.1,18,53,5,4,2,Match Report
10,2023-10-14,Sat,WSL,Matchweek 3,Home,W 2–0,Chelsea,West Ham,Y,LM,...,1,47,58,81.0,1,37,3,3,1,Match Report
11,2023-10-22,Sun,WSL,Matchweek 4,Home,W 4–2,Chelsea,Brighton,Y,LM,...,0,49,67,73.1,3,51,7,0,0,Match Report
12,2023-11-04,Sat,WSL,Matchweek 5,Away,W 6–0,Chelsea,Aston Villa,Y,"WB,LB",...,0,66,75,88.0,6,60,4,3,2,Match Report

In [20]:
NC_WinRate = NC_WSL_Stats[NC_WSL_Stats['Result'].str.startswith('W')]

In [21]:
NC_WinRate.head()

,Date,Day,Comp,Round,Venue,Result,Squad,Opponent,Start,Pos,...,GCA,Cmp,Att,Cmp%,PrgP,Carries,PrgC,Att,Succ,Match Report
8,2023-10-01,Sun,WSL,Matchweek 1,Home,W 2–1,Chelsea,Tottenham,Y,LB,...,3,48,59,81.4,4,37,7,7,4,Match Report
10,2023-10-14,Sat,WSL,Matchweek 3,Home,W 2–0,Chelsea,West Ham,Y,LM,...,1,47,58,81.0,1,37,3,3,1,Match Report
11,2023-10-22,Sun,WSL,Matchweek 4,Home,W 4–2,Chelsea,Brighton,Y,LM,...,0,49,67,73.1,3,51,7,0,0,Match Report
12,2023-11-04,Sat,WSL,Matchweek 5,Away,W 6–0,Chelsea,Aston Villa,Y,"WB,LB",...,0,66,75,88.0,6,60,4,3,2,Match Report
13,2023-11-12,Sun,WSL,Matchweek 6,Away,W 3–0,Chelsea,Everton,Y,LB,...,0,72,85,84.7,7,62,3,2,2,Match Report

In [22]:
win_count=NC_WSL_Stats['Result'].str.startswith('W').sum()
win_count

18

In [23]:
draw_count=NC_WSL_Stats['Result'].str.startswith('D').sum()
draw_count

1

In [24]:
loss_count=NC_WSL_Stats['Result'].str.startswith('L').sum()
loss_count

3

In [25]:
total_matches = len(NC_WSL_Stats)
win_percentage = round((win_count/total_matches)*100, 2)
draw_percentage = round((draw_count/total_matches)*100, 2)
loss_percentage = round((loss_count/total_matches)*100, 2)

print("Total Matches: ", total_matches)
print("Win Percentage: ", win_percentage, "%")
print("Draw Percentage: ", draw_percentage, "%")
print("Loss Percentage: ", loss_percentage, "%")

Total Matches:  22
Win Percentage:  81.82 %
Draw Percentage:  4.55 %
Loss Percentage:  13.64 %

In [26]:
data2=requests.get(playerStats_url)
html_data2=StringIO(data2.text)
squad_stats=pd.read_html(html_data2, match="Women's Super League")
squad_stats[0].columns = squad_stats[0].columns.droplevel()
squad_stats[0].head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,Niamh Charles,eng ENG,"DF,MF",24.0,22,22,1890.0,21.0,2.0,7.0,...,0.33,0.43,0.10,0.43,0.09,0.24,0.33,0.09,0.33,Matches
1,Jess Carter,eng ENG,DF,25.0,21,19,1723.0,19.1,0.0,1.0,...,0.05,0.05,0.00,0.05,0.02,0.05,0.07,0.02,0.07,Matches
2,Erin Cuthbert,sct SCO,MF,25.0,20,17,1477.0,16.4,4.0,2.0,...,0.12,0.37,0.24,0.37,0.19,0.15,0.34,0.19,0.34,Matches
3,Lauren James,eng ENG,"FW,MF",21.0,16,14,1112.0,12.4,13.0,2.0,...,0.16,1.21,1.05,1.21,0.48,0.19,0.66,0.48,0.66,Matches
4,Johanna Rytting Kaneryd,se SWE,"FW,MF",26.0,19,13,1167.0,13.0,4.0,6.0,...,0.46,0.77,0.31,0.77,0.31,0.30,0.60,0.31,0.60,Matches

In [27]:
# Removing the last two rows
ChelseaSquadStats = squad_stats[0][:-2]
ChelseaSquadStats.head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,Niamh Charles,eng ENG,"DF,MF",24.0,22,22,1890.0,21.0,2.0,7.0,...,0.33,0.43,0.10,0.43,0.09,0.24,0.33,0.09,0.33,Matches
1,Jess Carter,eng ENG,DF,25.0,21,19,1723.0,19.1,0.0,1.0,...,0.05,0.05,0.00,0.05,0.02,0.05,0.07,0.02,0.07,Matches
2,Erin Cuthbert,sct SCO,MF,25.0,20,17,1477.0,16.4,4.0,2.0,...,0.12,0.37,0.24,0.37,0.19,0.15,0.34,0.19,0.34,Matches
3,Lauren James,eng ENG,"FW,MF",21.0,16,14,1112.0,12.4,13.0,2.0,...,0.16,1.21,1.05,1.21,0.48,0.19,0.66,0.48,0.66,Matches
4,Johanna Rytting Kaneryd,se SWE,"FW,MF",26.0,19,13,1167.0,13.0,4.0,6.0,...,0.46,0.77,0.31,0.77,0.31,0.30,0.60,0.31,0.60,Matches

In [28]:
ChelseaSquadStats=ChelseaSquadStats.drop('Matches',axis=1)
ChelseaData_Column = 'Chelsea'
ChelseaSquadStats.insert(1, 'Club', ChelseaData_Column)
ChelseaSquadStats.head()

,Player,Club,Nation,Pos,Age,MP,Starts,Min,90s,Gls,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Niamh Charles,Chelsea,eng ENG,"DF,MF",24.0,22,22,1890.0,21.0,2.0,...,0.10,0.33,0.43,0.10,0.43,0.09,0.24,0.33,0.09,0.33
1,Jess Carter,Chelsea,eng ENG,DF,25.0,21,19,1723.0,19.1,0.0,...,0.00,0.05,0.05,0.00,0.05,0.02,0.05,0.07,0.02,0.07
2,Erin Cuthbert,Chelsea,sct SCO,MF,25.0,20,17,1477.0,16.4,4.0,...,0.24,0.12,0.37,0.24,0.37,0.19,0.15,0.34,0.19,0.34
3,Lauren James,Chelsea,eng ENG,"FW,MF",21.0,16,14,1112.0,12.4,13.0,...,1.05,0.16,1.21,1.05,1.21,0.48,0.19,0.66,0.48,0.66
4,Johanna Rytting Kaneryd,Chelsea,se SWE,"FW,MF",26.0,19,13,1167.0,13.0,4.0,...,0.31,0.46,0.77,0.31,0.77,0.31,0.30,0.60,0.31,0.60

In [29]:
ChelseaSquadStats.to_csv('ChelseaPlayerSquadStats_23_24_Season.csv',index='False')

In [30]:
# Extracting Arsenal Squad Stats
ArsenalSquadStatsUrl = 'https://fbref.com/en/squads/411b1108/Arsenal-Women-Stats'
ArsenalData=requests.get(ArsenalSquadStatsUrl)
Arsenal_html_data=StringIO(ArsenalData.text)
ArsenalSquadStats=pd.read_html(Arsenal_html_data, match="Women's Super League")
ArsenalSquadStats[0].columns = ArsenalSquadStats[0].columns.droplevel()
ArsenalSquadStats[0].head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,Alessia Russo,eng ENG,"FW,MF",24.0,22,20,1727.0,19.2,12.0,4.0,...,0.21,0.83,0.57,0.78,0.64,0.16,0.80,0.60,0.76,Matches
1,Victoria Pelova,nl NED,MF,24.0,22,20,1551.0,17.2,2.0,5.0,...,0.29,0.41,0.12,0.41,0.17,0.32,0.49,0.17,0.49,Matches
2,Katie McCabe,ie IRL,DF,27.0,21,19,1652.0,18.4,3.0,2.0,...,0.11,0.27,0.16,0.27,0.10,0.23,0.32,0.10,0.32,Matches
3,Manuela Zinsberger,at AUT,GK,27.0,18,18,1620.0,18.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
4,Caitlin Foord,au AUS,FW,28.0,22,18,1564.0,17.4,4.0,4.0,...,0.23,0.46,0.23,0.46,0.30,0.18,0.48,0.30,0.48,Matches

In [31]:
ArsenalSquadStats[0]=ArsenalSquadStats[0][:-2].drop('Matches',axis=1)
ArsenalSquadStats[0].insert(1,'Club','Arsenal')
ArsenalSquadStats[0].head()

,Player,Club,Nation,Pos,Age,MP,Starts,Min,90s,Gls,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Alessia Russo,Arsenal,eng ENG,"FW,MF",24.0,22,20,1727.0,19.2,12.0,...,0.63,0.21,0.83,0.57,0.78,0.64,0.16,0.80,0.60,0.76
1,Victoria Pelova,Arsenal,nl NED,MF,24.0,22,20,1551.0,17.2,2.0,...,0.12,0.29,0.41,0.12,0.41,0.17,0.32,0.49,0.17,0.49
2,Katie McCabe,Arsenal,ie IRL,DF,27.0,21,19,1652.0,18.4,3.0,...,0.16,0.11,0.27,0.16,0.27,0.10,0.23,0.32,0.10,0.32
3,Manuela Zinsberger,Arsenal,at AUT,GK,27.0,18,18,1620.0,18.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Caitlin Foord,Arsenal,au AUS,FW,28.0,22,18,1564.0,17.4,4.0,...,0.23,0.23,0.46,0.23,0.46,0.30,0.18,0.48,0.30,0.48

In [32]:
ArsenalSquadStats[0].to_csv('ArsenalSquadStats_23_24_Season.csv',index='False')

In [33]:
# Extracting Spurs Squad Stats
TottenhamHotspurStatsUrl = 'https://fbref.com/en/squads/e8e4577c/Tottenham-Women-Stats'
TottenhamHotspurData = requests.get(TottenhamHotspurStatsUrl)
TottenhamHotspur_html_data = StringIO(TottenhamHotspurData.text)
TottenhamHotspurSquadStats = pd.read_html(TottenhamHotspur_html_data, match="Women's Super League")
TottenhamHotspurSquadStats[0].columns = TottenhamHotspurSquadStats[0].columns.droplevel()
TottenhamHotspurSquadStats[0].head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,Eveliina Summanen,fi FIN,MF,25.0,20,20,1705.0,18.9,1.0,4.0,...,0.21,0.26,0.05,0.26,0.03,0.12,0.15,0.03,0.15,Matches
1,Grace Clinton,eng ENG,"MF,FW",20.0,20,20,1627.0,18.1,4.0,4.0,...,0.22,0.44,0.22,0.44,0.13,0.18,0.31,0.13,0.31,Matches
2,Celin Ildhusøy,no NOR,"FW,MF",21.0,20,19,1449.0,16.1,4.0,1.0,...,0.06,0.31,0.25,0.31,0.16,0.09,0.25,0.16,0.25,Matches
3,Ashleigh Neville,eng ENG,DF,30.0,19,18,1605.0,17.8,1.0,0.0,...,0.00,0.06,0.06,0.06,0.07,0.07,0.14,0.07,0.14,Matches
4,Martha Thomas,sct SCO,FW,27.0,19,17,1371.0,15.2,7.0,3.0,...,0.20,0.66,0.46,0.66,0.40,0.08,0.49,0.40,0.49,Matches

In [34]:
TottenhamHotspurSquadStats[0] = TottenhamHotspurSquadStats[0][:-2].drop('Matches',axis=1)
TottenhamHotspurSquadStats[0].insert(1, 'Club', 'Spurs')
TottenhamHotspurSquadStats[0].head()

,Player,Club,Nation,Pos,Age,MP,Starts,Min,90s,Gls,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Eveliina Summanen,Spurs,fi FIN,MF,25.0,20,20,1705.0,18.9,1.0,...,0.05,0.21,0.26,0.05,0.26,0.03,0.12,0.15,0.03,0.15
1,Grace Clinton,Spurs,eng ENG,"MF,FW",20.0,20,20,1627.0,18.1,4.0,...,0.22,0.22,0.44,0.22,0.44,0.13,0.18,0.31,0.13,0.31
2,Celin Ildhusøy,Spurs,no NOR,"FW,MF",21.0,20,19,1449.0,16.1,4.0,...,0.25,0.06,0.31,0.25,0.31,0.16,0.09,0.25,0.16,0.25
3,Ashleigh Neville,Spurs,eng ENG,DF,30.0,19,18,1605.0,17.8,1.0,...,0.06,0.00,0.06,0.06,0.06,0.07,0.07,0.14,0.07,0.14
4,Martha Thomas,Spurs,sct SCO,FW,27.0,19,17,1371.0,15.2,7.0,...,0.46,0.20,0.66,0.46,0.66,0.40,0.08,0.49,0.40,0.49

In [35]:
TottenhamHotspurSquadStats[0].to_csv('TottenhamHotspurSquadStats_23_24_Season.csv',index='False')

In [36]:
# Extracting Manchester City Squad
ManchesterCityStatsUrl = 'https://fbref.com/en/squads/9ce68f8a/Manchester-City-Women-Stats'
ManchesterCityData = requests.get(ManchesterCityStatsUrl)
ManchesterCity_html_data = StringIO(ManchesterCityData.text)
ManchesterCitySquadStats = pd.read_html(ManchesterCity_html_data, match="Women's Super League")
ManchesterCitySquadStats[0].columns = ManchesterCitySquadStats[0].columns.droplevel()
ManchesterCitySquadStats[0].head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,Khiara Keating,eng ENG,GK,19.0,22,22,1980.0,22.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
1,Yui Hasegawa,jp JPN,MF,26.0,22,22,1943.0,21.6,0.0,3.0,...,0.14,0.14,0.00,0.14,0.02,0.06,0.08,0.02,0.08,Matches
2,Laia Aleixandri,es ESP,DF,22.0,21,21,1810.0,20.1,1.0,3.0,...,0.15,0.20,0.05,0.20,0.06,0.07,0.12,0.04,0.11,Matches
3,Alex Greenwood,eng ENG,DF,29.0,20,20,1747.0,19.4,1.0,3.0,...,0.15,0.21,0.05,0.21,0.07,0.11,0.18,0.07,0.18,Matches
4,Lauren Hemp,eng ENG,FW,22.0,21,19,1746.0,19.4,11.0,8.0,...,0.41,0.98,0.57,0.98,0.35,0.38,0.73,0.35,0.73,Matches

In [37]:
ManchesterCitySquadStats[0] = ManchesterCitySquadStats[0][:-2].drop('Matches',axis=1)
ManchesterCitySquadStats[0].insert(1, 'Club', 'Manchester City')
ManchesterCitySquadStats[0].head()

,Player,Club,Nation,Pos,Age,MP,Starts,Min,90s,Gls,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Khiara Keating,Manchester City,eng ENG,GK,19.0,22,22,1980.0,22.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Yui Hasegawa,Manchester City,jp JPN,MF,26.0,22,22,1943.0,21.6,0.0,...,0.00,0.14,0.14,0.00,0.14,0.02,0.06,0.08,0.02,0.08
2,Laia Aleixandri,Manchester City,es ESP,DF,22.0,21,21,1810.0,20.1,1.0,...,0.05,0.15,0.20,0.05,0.20,0.06,0.07,0.12,0.04,0.11
3,Alex Greenwood,Manchester City,eng ENG,DF,29.0,20,20,1747.0,19.4,1.0,...,0.05,0.15,0.21,0.05,0.21,0.07,0.11,0.18,0.07,0.18
4,Lauren Hemp,Manchester City,eng ENG,FW,22.0,21,19,1746.0,19.4,11.0,...,0.57,0.41,0.98,0.57,0.98,0.35,0.38,0.73,0.35,0.73

In [38]:
ManchesterCitySquadStats[0].to_csv('ManchesterCitySquadStats_23_24_Season.csv',index='False')

In [39]:
# Extracting Manchester United Squad
ManchesterUnitedStatsUrl = 'https://fbref.com/en/squads/0bbd83f6/Manchester-United-Women-Stats'
ManchesterUnitedData = requests.get(ManchesterUnitedStatsUrl)
ManchesterUnited_html_data = StringIO(ManchesterUnitedData.text)
ManchesterUnitedSquadStats = pd.read_html(ManchesterUnited_html_data, match="Women's Super League")
ManchesterUnitedSquadStats[0].columns = ManchesterUnitedSquadStats[0].columns.droplevel()
ManchesterUnitedSquadStats[0].head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,Mary Earps,eng ENG,GK,30.0,22,22,1980.0,22.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
1,Maya Le Tissier,eng ENG,DF,21.0,22,22,1980.0,22.0,2.0,1.0,...,0.05,0.14,0.09,0.14,0.05,0.03,0.08,0.05,0.08,Matches
2,Katie Zelem,eng ENG,MF,27.0,22,22,1980.0,22.0,1.0,6.0,...,0.27,0.32,0.00,0.27,0.07,0.27,0.34,0.04,0.30,Matches
3,Millie Turner,eng ENG,DF,27.0,22,22,1931.0,21.5,2.0,1.0,...,0.05,0.14,0.09,0.14,0.11,0.01,0.12,0.11,0.12,Matches
4,Hannah Blundell,eng ENG,DF,29.0,22,21,1872.0,20.8,1.0,2.0,...,0.10,0.14,0.05,0.14,0.03,0.04,0.06,0.03,0.06,Matches

In [40]:
ManchesterUnitedSquadStats[0] = ManchesterUnitedSquadStats[0].drop('Matches', axis=1)[:-2]
ManchesterUnitedSquadStats[0].insert(1, 'Club', 'Manchester United')
ManchesterUnitedSquadStats[0].head()

,Player,Club,Nation,Pos,Age,MP,Starts,Min,90s,Gls,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Mary Earps,Manchester United,eng ENG,GK,30.0,22,22,1980.0,22.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Maya Le Tissier,Manchester United,eng ENG,DF,21.0,22,22,1980.0,22.0,2.0,...,0.09,0.05,0.14,0.09,0.14,0.05,0.03,0.08,0.05,0.08
2,Katie Zelem,Manchester United,eng ENG,MF,27.0,22,22,1980.0,22.0,1.0,...,0.05,0.27,0.32,0.00,0.27,0.07,0.27,0.34,0.04,0.30
3,Millie Turner,Manchester United,eng ENG,DF,27.0,22,22,1931.0,21.5,2.0,...,0.09,0.05,0.14,0.09,0.14,0.11,0.01,0.12,0.11,0.12
4,Hannah Blundell,Manchester United,eng ENG,DF,29.0,22,21,1872.0,20.8,1.0,...,0.05,0.10,0.14,0.05,0.14,0.03,0.04,0.06,0.03,0.06

In [41]:
ManchesterUnitedSquadStats[0].to_csv('ManchesterUnitedSquadStats_23_24_Season', index='False')

In [42]:
# Extracting Liverpool Squad
LiverpoolStatsUrl = 'https://fbref.com/en/squads/00f74a56/Liverpool-Women-Stats'
LiverpoolData = requests.get(LiverpoolStatsUrl)
Liverpool_html_data = StringIO(LiverpoolData.text)
LiverpoolSquadStats = pd.read_html(Liverpool_html_data, match="Women's Super League")
LiverpoolSquadStats[0].columns = LiverpoolSquadStats[0].columns.droplevel()
LiverpoolSquadStats[0].head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,Grace Fisk,eng ENG,DF,25.0,22,22,1935.0,21.5,1.0,1.0,...,0.05,0.09,0.05,0.09,0.03,0.03,0.06,0.03,0.06,Matches
1,Fūka Nagano,jp JPN,MF,24.0,21,21,1841.0,20.5,0.0,0.0,...,0.00,0.00,0.00,0.00,0.01,0.01,0.03,0.01,0.03,Matches
2,Gemma Bonner,eng ENG,DF,32.0,20,19,1623.0,18.0,2.0,1.0,...,0.06,0.17,0.11,0.17,0.05,0.03,0.09,0.05,0.09,Matches
3,Sophie Román Haug,no NOR,FW,24.0,20,19,1618.0,18.0,7.0,2.0,...,0.11,0.50,0.39,0.50,0.36,0.21,0.57,0.36,0.57,Matches
4,Jenna Clark,sct SCO,DF,21.0,21,18,1656.0,18.4,1.0,0.0,...,0.00,0.05,0.05,0.05,0.06,0.01,0.07,0.06,0.07,Matches

In [43]:
LiverpoolSquadStats[0] = LiverpoolSquadStats[0][:-2].drop('Matches', axis=1)
LiverpoolSquadStats[0].insert(1, 'Club', 'Liverpool')
LiverpoolSquadStats[0].head()

,Player,Club,Nation,Pos,Age,MP,Starts,Min,90s,Gls,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Grace Fisk,Liverpool,eng ENG,DF,25.0,22,22,1935.0,21.5,1.0,...,0.05,0.05,0.09,0.05,0.09,0.03,0.03,0.06,0.03,0.06
1,Fūka Nagano,Liverpool,jp JPN,MF,24.0,21,21,1841.0,20.5,0.0,...,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.03,0.01,0.03
2,Gemma Bonner,Liverpool,eng ENG,DF,32.0,20,19,1623.0,18.0,2.0,...,0.11,0.06,0.17,0.11,0.17,0.05,0.03,0.09,0.05,0.09
3,Sophie Román Haug,Liverpool,no NOR,FW,24.0,20,19,1618.0,18.0,7.0,...,0.39,0.11,0.50,0.39,0.50,0.36,0.21,0.57,0.36,0.57
4,Jenna Clark,Liverpool,sct SCO,DF,21.0,21,18,1656.0,18.4,1.0,...,0.05,0.00,0.05,0.05,0.05,0.06,0.01,0.07,0.06,0.07

In [44]:
LiverpoolSquadStats[0].to_csv('LiverpoolSquadStats_23_24_Season', index='False')

In [45]:
# Extracting Aston Villa Squad
AstonVillaUrl = 'https://fbref.com/en/squads/53157aa8/Aston-Villa-Women-Stats'
AstonVillaData = requests.get(AstonVillaUrl)
AstonVilla_html_data = StringIO(AstonVillaData.text)
AstonVillaSquadStats = pd.read_html(AstonVilla_html_data, match="Women's Super League")
AstonVillaSquadStats[0].columns = AstonVillaSquadStats[0].columns.droplevel()

In [46]:
AstonVillaSquadStats[0]=AstonVillaSquadStats[0][:-2].drop('Matches',axis=1)
AstonVillaSquadStats[0].insert(1, 'Club', 'Aston Villa')
AstonVillaSquadStats[0].head()

,Player,Club,Nation,Pos,Age,MP,Starts,Min,90s,Gls,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Anna Patten,Aston Villa,ie IRL,DF,24.0,22,22,1954.0,21.7,1.0,...,0.05,0.05,0.09,0.05,0.09,0.05,0.02,0.07,0.05,0.07
1,Rachel Daly,Aston Villa,eng ENG,FW,31.0,20,20,1798.0,20.0,8.0,...,0.40,0.00,0.40,0.30,0.30,0.39,0.05,0.44,0.31,0.36
2,Sarah Mayling,Aston Villa,eng ENG,DF,26.0,21,20,1741.0,19.3,1.0,...,0.05,0.00,0.05,0.00,0.00,0.04,0.03,0.07,0.00,0.03
3,Jordan Nobbs,Aston Villa,eng ENG,MF,30.0,22,17,1459.0,16.2,2.0,...,0.12,0.12,0.25,0.12,0.25,0.11,0.09,0.20,0.11,0.20
4,Rachel Corsie,Aston Villa,sct SCO,"DF,MF",33.0,21,16,1489.0,16.5,0.0,...,0.00,0.12,0.12,0.00,0.12,0.08,0.06,0.15,0.08,0.15

In [47]:
AstonVillaSquadStats[0].to_csv('AstonVillaSquadStats_23_24_Season', index="False")

In [48]:
# Extracting Everton Squad
EvertonUrl = 'https://fbref.com/en/squads/c4989550/Everton-Women-Stats'
EvertonData = requests.get(EvertonUrl)
Everton_html_data = StringIO(EvertonData.text)
EvertonSquadStats = pd.read_html(Everton_html_data, match="Women's Super League")
EvertonSquadStats[0].columns = EvertonSquadStats[0].columns.droplevel()

In [49]:
EvertonSquadStats[0] = EvertonSquadStats[0][:-2].drop('Matches',axis=1)
EvertonSquadStats[0].insert(1, 'Club', 'Everton')
EvertonSquadStats[0].to_csv('EvertonSquadStats_23_24_Season', index='False')

In [50]:
# Extracting Brighton Squad
BrightonUrl = 'https://fbref.com/en/squads/fa2752bc/Brighton-and-Hove-Albion-Women-Stats'
BrightonData = requests.get(BrightonUrl)
Brighton_html_data = StringIO(BrightonData.text)
BrightonSquadStats = pd.read_html(Brighton_html_data, match="Women's Super League")
BrightonSquadStats[0].columns = BrightonSquadStats[0].columns.droplevel()

In [51]:
BrightonSquadStats[0] = BrightonSquadStats[0][:-2].drop('Matches', axis=1)
BrightonSquadStats[0].insert(1, 'Club', 'Brighton')
BrightonSquadStats[0].to_csv('BrightonSquadStats_23_24_Season', index='False')

In [52]:
# Extracting Leicester Squad
LeicesterUrl = 'https://fbref.com/en/squads/23bce84e/Leicester-City-Women-Stats'
LeicesterData = requests.get(LeicesterUrl)
Leicester_htm_data = StringIO(LeicesterData.text)
LeicesterSquadStats = pd.read_html(Leicester_htm_data, match="Women's Super League")
LeicesterSquadStats[0].columns = LeicesterSquadStats[0].columns.droplevel()

LeicesterSquadStats[0] = LeicesterSquadStats[0][:-2].drop('Matches', axis=1)
LeicesterSquadStats[0].insert(1,'Club','Leicester')
LeicesterSquadStats[0].to_csv('LeicesterSquadStats_23_24_Season', index='False')